[submodule "php-namespace"]
	path = php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace.git
[submodule "symfony"]
	path = symfony
	url = https://github.com/docteurklein/vim-symfony.git
[submodule "php-xdebug"]
	path = php-xdebug
	url = git://github.com/justinrainbow/php-xdebug.vim.git
[submodule "phpunit"]
	path = phpunit
	url = https://github.com/docteurklein/vim-phpunit.git
[submodule "behat"]
	path = behat
	url = https://github.com/veloce/vim-behat.git
[submodule "align"]
	path = align
	url = https://github.com/pix/vim-align.git
